<ul>
  <li><a routerLink="/render1">Render 1</a></li>
  <li><a routerLink="/render2">Render 2</a></li>
  <li><a routerLink="/render3">Render 3</a></li>
  <li><a routerLink="/render4">Rendering Mode</a></li>
  <li><a routerLink="/render5">State Machine</a></li>
  <li><a routerLink="/render6">Cone</a></li>
  <li><a routerLink="/render7">Ajax Cone</a></li>
  <li><a routerLink="/render8">Ajax Car</a></li>
  <hr />
  <li><a routerLink="/light1">Goraund - Lambert</a></li>
  <li><a routerLink="/light2">Goraund - Lambert Moving Light</a></li>
  <li><a routerLink="/light3">Goraund - Phong</a></li>
</ul>